body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 40px;
    background-color: beige;
    text-align: center;
    padding: 20px;
}

h3 {
    background-color: beige;
    padding: 20px;
}

.nonumber li {
    list-style-type: none;
}

.somemark li {
    list-style-type: square;
}

button {
    background-color: aqua;
    padding: 10px;
}

button:hover {
    background-color: blueviolet;
}